.App {
  margin: 20px;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-header form > div {
  margin-right: 10px;
}

.App-wrap {
  max-width: 680px;
  margin: 10px auto;
}
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}