* {
  box-sizing: border-box;
}

.App {
  margin: 0;
}

.App-header {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.App-header form > div {
  margin-right: 10px;
}

.App-wrap {
  max-width: 700px;
  margin: 5px auto;
  padding: 0 10px;
}
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-lists {
  margin-top: 160px;
}