.App {
  margin: 20px;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-header form > div {
  margin-right: 10px;
}

.App-wrap {
  max-width: 1250px;
  margin: 10px auto;
}
.issue-list {
  width: 600px;
  float: left;
}
.issue-list:first-child {
  margin-right: 50px;
}